#game-screen-container {
  border: 1px solid black;
  width: 1280px;
  height: 720px;
  position: relative;
}

#credits-menu {
  overflow: scroll;
  justify-content: flex-start;
}

#credits-wrapper {
  text-align: center;
  align-items: center;
}

.menu {
  position: absolute;
  width: 60%;
  height: 60%;
  left: 20%;
  top: 20%;
  background-color: #ffffff;
  border: 5px double #000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Cinzel', san-serif;
}

.menu > a {
  text-decoration: none;
}

.menu > a.selected  {
  text-decoration: underline;
  font-weight: bold;
}

#help-wrapper {
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  position: relative;
}

#player-tester {
  border: 1px solid black;
  width: 128px;
  height: 128px;
  margin-left: 120px;
}
